In [1]:
import pandas as pd
r = pd.read_csv('C:\\netology\\net2020\\ml-20m\\ratings.csv')
m = pd.read_csv('C:\\netology\\net2020\\ml-20m\\movies.csv')

In [3]:
r_5_max = r[r.rating == 5].groupby('movieId').count().sort_values('userId', ascending = False).head(1)
r_5_max.merge(m,on='movieId',how='left')

,movieId,userId,rating,timestamp,title,genres
0,318,31896,31896,31896,"Shawshank Redemption, The (1994)",Crime|Drama

In [4]:
p = pd.read_csv('C:\\netology\\10._Основы_pandas\\power.csv')

In [5]:
f_p = p[(p['country'].str.contains('lith|latv|esto',case=False)) & \
        ((p['category'] == 4) | (p['category'] == 12) | (p['category'] == 21)) & \
         (p['year'].between(2005,2010)) \
         & (p['quantity'] >= 0) \
       ]

In [6]:
f_p['quantity'].agg(sum)

240580.0

In [7]:
from datetime import datetime, timedelta
del_ = timedelta(days=1000)
to_ = datetime.now().strftime("%d.%m.%Y")
from_ = (datetime.now()-del_).strftime("%d.%m.%Y")
pd.read_html(f'http://www.cbr.ru/currency_base/dynamics/?UniDbQuery.Posted=True&UniDbQuery.mode=1&UniDbQuery.date_req1=&UniDbQuery.date_req2=&UniDbQuery.VAL_NM_RQ=R01010&UniDbQuery.From={from_}&UniDbQuery.To={to_}',header=1,)[0]

           Дата  Единиц    Курс
0    14.11.2017       1  452685
1    15.11.2017       1  454012
2    16.11.2017       1  457049
3    17.11.2017       1  455623
4    18.11.2017       1  450404
..          ...     ...     ...
664  04.08.2020       1  527935
665  05.08.2020       1  523791
666  06.08.2020       1  526448
667  07.08.2020       1  524936
668  08.08.2020       1  531148

[669 rows x 3 columns]

In [9]:
pd.read_html('https://www.yr.no/place/South_Africa/Western_Cape/Table_View~3360687/')[2]

,Time,Forecast,Temp.,Precipitation,Wind
0,00:00–06:00,Fair.,12°,0.1 mm,"Light breeze, 2 m/s from west-northwest"
1,06:00–12:00,Partly cloudy.,11°,0.2 mm,"Light breeze, 3 m/s from north-northeast"
2,12:00–18:00,Partly cloudy.,16°,0.1 mm,"Moderate breeze, 6 m/s from north-northwest"
3,18:00–00:00,Partly cloudy.,13°,0 mm,"Gentle breeze, 4 m/s from west-northwest"