In [1]:
import pandas as pd
r = pd.read_csv('C:\\netology\\net2020\\ml-20m\\ratings.csv')
m = pd.read_csv('C:\\netology\\net2020\\ml-20m\\movies.csv')

In [7]:
r_5_max = r[r.rating == 5].groupby('movieId').count().sort_values('userId', ascending = False).head(1)
r_5_max.merge(m,on='movieId',how='left')

,movieId,userId,rating,timestamp,title,genres
0,318,31896,31896,31896,"Shawshank Redemption, The (1994)",Crime|Drama

In [3]:
p = pd.read_csv('C:\\netology\\10._Основы_pandas\\power.csv')

In [9]:
f_p = p[(p['country'].str.contains('lith|latv|esto',case=False)) & \
        ((p['category'] == 4) | (p['category'] == 12) | (p['category'] == 21)) & \
         (p['year'].between(2005,2010)) \
         & (p['quantity'] >= 0) \
       ]

In [10]:
f_p['quantity'].agg(sum)

240580.0

In [110]:
from datetime import datetime, timedelta
del_ = timedelta(days=365)
to_ = datetime.now().strftime("%d.%m.%Y")
from_ = (datetime.now()-del_).strftime("%d.%m.%Y")

currency = pd.read_html(f'http://www.cbr.ru/currency_base/dynamics/?UniDbQuery.Posted=True&UniDbQuery.mode=1&UniDbQuery.date_req1=&UniDbQuery.date_req2=&UniDbQuery.VAL_NM_RQ=R01010&UniDbQuery.From={from_}&UniDbQuery.To={to_}'
             ,header=1)[0]
pd.

AttributeError: 'DataFrame' object has no attribute 'to'

In [107]:
?pd.read_csv