In [188]:
import pandas as pd

## Задание 1

In [189]:
df = pd.read_csv('C:\\netology\\net2020\\ml-latest-small\\ratings.csv',sep = ',')

In [190]:
def class_(param):
    if param <= 2:
        return "low"
    elif param <= 4:
        return "medium"
    elif param > 4:
        return "high"

In [191]:
df['class'] = df['rating'].apply(class_)
df

        userId  movieId  rating   timestamp   class
0            1       31     2.5  1260759144  medium
1            1     1029     3.0  1260759179  medium
2            1     1061     3.0  1260759182  medium
3            1     1129     2.0  1260759185     low
4            1     1172     4.0  1260759205  medium
...        ...      ...     ...         ...     ...
99999      671     6268     2.5  1065579370  medium
100000     671     6269     4.0  1065149201  medium
100001     671     6365     4.0  1070940363  medium
100002     671     6385     2.5  1070979663  medium
100003     671     6565     3.5  1074784724  medium

[100004 rows x 5 columns]

## Задание 2

In [193]:
df = pd.read_csv('C:\\netology\\net2020\\keywords.csv',sep = ',')

In [194]:
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск', 'старый оскол']
}

def geo_class(x):  
  for k in geo_data:
      for i in x:
        if i in geo_data[k]:
            return k
        else:
            return 'Undefined'
df['region'] = df['keyword'].apply(lambda word: word.split(' ')).apply(geo_class)
df
# df[df['region']!='Undefined']['region'].value_counts()

                       keyword     shows     region
0                           вк  64292779  Undefined
1                одноклассники  63810309  Undefined
2                        порно  41747114  Undefined
3                         ютуб  39995567  Undefined
4                    вконтакте  21014195  Undefined
...                        ...       ...        ...
99995   эльдорадо старый оскол      3705  Undefined
99996      frigate для firefox      3630  Undefined
99997                   укрсиб      3630  Undefined
99998  погода в ялте на неделю      3688  Undefined
99999                     ггму      3630  Undefined

[100000 rows x 3 columns]

## Задание 3

In [201]:
import pandas as pd
r = pd.read_csv('C:\\netology\\net2020\\ml-latest-small\\ratings.csv')
m = pd.read_csv('C:\\netology\\net2020\\ml-latest-small\\movies.csv')

In [202]:
ds = r.merge(m,on='movieId',how='left')
years = []
for x in range(1950,2011):
    years.append(x)

In [203]:
ds['title_split'] = ds['title'].apply(lambda word: word.replace(")","").replace("(","").split(' '))

In [204]:
def find_year(row):
    for year_ in years:
        if str(year_) in row:
            return year_
    return 1900

In [205]:
ds['year'] = ds['title_split'].apply(find_year)

In [206]:
results = ds.groupby('year').agg(['mean'])['rating'].reset_index().sort_values('mean', ascending=False)
results

    year      mean
8   1957  4.014241
23  1972  4.011136
3   1952  4.000000
5   1954  3.994220
2   1951  3.983539
..   ...       ...
56  2005  3.448434
54  2003  3.444777
47  1996  3.426600
48  1997  3.415764
51  2000  3.356104

[62 rows x 2 columns]