In [1]:
import pandas as pd
r = pd.read_csv('C:\\netology\\net2020\\ml-20m\\ratings.csv')
m = pd.read_csv('C:\\netology\\net2020\\ml-20m\\movies.csv')

In [66]:
r_5_max = r[r.rating == 5].groupby('movieId').count().sort_values('userId', ascending = False).head(1)
r_5_max.merge(m,on='movieId',how='left')

,movieId,userId,rating,timestamp,title,genres
0,318,31896,31896,31896,"Shawshank Redemption, The (1994)",Crime|Drama

In [73]:
p = pd.read_csv('C:\\netology\\10._Основы_pandas\\power.csv')

In [89]:
f_p = p[(p['country'].str.contains('lith|latv|esto',case=False)) & \
        ((p['category'] == 4) | (p['category'] == 12) | (p['category'] == 21)) & \
         (p['year'].between(2005,2010)) \
         & (p['quantity'] >= 0) \
       ]

In [91]:
f_p['quantity'].agg(sum)

240580.0